<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabla de Historias de Usuario</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: center;
        }

        th {
            background-color: #f2f2f2;
        }

        .estimacion {
            background-color: lightblue;
        }
    </style>
</head>
<body>
    <h4>Tabla de Historias de Usuario</h4><br>

    <table>
        <thead>
            <tr>
                <th rowspan="2">HISTORIA DE USUARIO</th>
                <th colspan="3">DEVELOPMENT TEAM</th>
                <th rowspan="2">ESTIMACIÓN</th>
            </tr>
            <tr>
                
                <th>Rosado</th>
                <th>Barzola</th>
                <th>Camán</th>
                
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Como cajero, quiero tener una sección de extras para agregar elementos adicionales al pedido.</td>
                <td>2</td>
                <td>3</td>
                <td>5</td>
                <td class="estimacion">3</td>
            </tr>
            <tr>
                <td>Como cajero, quiero recibir notificaciones para conocer el estado de los pedidos.</td>
                <td>5</td>
                <td>5</td>
                <td>5</td>
                <td class="estimacion">5</td>
            </tr>
            <tr>
                <td>Como administrador, quiero registrar nuevos usuarios en el sistema para que puedan acceder a sus funciones.</td>
                <td>8</td>
                <td>5</td>
                <td>13</td>
                <td class="estimacion">8</td>
            </tr>
            <tr>
                <td>Como administrador, quiero ver la lista de usuarios registrados para gestionar su información.</td>
                <td>3</td>
                <td>3</td>
                <td>3</td>
                <td class="estimacion">3</td>
            </tr>
            <tr>
                <td>Como administrador, quiero editar los datos de los usuarios para mantener la información actualizada.</td>
                <td>5</td>
                <td>8</td>
                <td>5</td>
                <td class="estimacion">5</td>
            </tr>
            <tr>
                <td>Como administrador, quiero eliminar usuarios que ya no necesiten acceso para mantener el sistema organizado.</td>
                <td>2</td>
                <td>3</td>
                <td>2</td>
                <td class="estimacion">2</td>
            </tr>
        </tbody>
    </table>
</body>
</html>