<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historias de Usuario</title>
</head>
<body>
    <table border="1">
        <thead>
            <tr>
                <th>Historia de Usuario</th>
                <th>Responsable</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Como cajero, quiero tener una sección de extras para agregar elementos adicionales al pedido.</td>
                <td>Rosado Valerio, Juan Pablo David</td>
            </tr>
            <tr>
                <td>Como cajero, quiero recibir notificaciones para conocer el estado de los pedidos.</td>
                <td>Barzola Mendoza, Axel Benjamín</td>
            </tr>
            <tr>
                <td>Como administrador, quiero registrar nuevos usuarios en el sistema para que puedan acceder a sus funciones.</td>
                <td>Camán Aguirre, Josué Sebastián</td>
            </tr>
            <tr>
                <td>Como administrador, quiero ver la lista de usuarios registrados para gestionar su información.</td>
                <td>Barzola Mendoza, Axel Benjamín</td>
            </tr>
            <tr>
                <td>Como administrador, quiero editar los datos de los usuarios para mantener la información actualizada.</td>
                <td>Rosado Valerio, Juan Pablo David</td>
            </tr>
            <tr>
                <td>Como administrador, quiero eliminar usuarios que ya no necesiten acceso para mantener el sistema organizado.</td>
                <td>Camán Aguirre, Josué Sebastián</td>
            </tr>
        </tbody>
    </table>
</body>
</html>