---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import ScrumTeamCriteriaTable from '../../components/ScrumTeamCriteriaTable.astro';
import DeveloperTeamTable from '../../components/DeveloperTeamTable.astro';
import Epicas from '../../components/Epicas.astro';
import PrioritizedProductBacklog from '../../components/PrioritizedProductBacklog.astro';
import Moscow from '../../components/Moscow.astro';

const modeloCanvasUrl = "/modelo-canvas.pdf"
const actaDeConstitucionUrl = "/acta-de-constitucion.pdf"

---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			main {
				width: 960px;
			}
			.seccion {
        margin-bottom: 3em;
      }
      h2 {
        color: var(--accent);
        text-align: center;
        margin-bottom: 0.5em;
        margin-top: 0.5em;
      }
      h3 {
        margin-top: 1em;
        margin-bottom: 0.5em;
      }
      h1 {
        text-align: center;
        margin-bottom: 1em;
      }
      .personal-container {
        display: flex;
        justify-content: space-between;
        margin-top: 2em;
      }
      .personal {
        width: 500px;
        text-align: center;
        padding: 0 1em 0 1em;
      }
      .image-team-member {
        display: flex;
        justify-content: center;
        margin-top: 1em;
      }
      .stakeholders-container {
        display: flex;
        gap: 2em;
        justify-content: center;
      }
      .stakeholders {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        gap: 5px;
      }
      .stakeholders p,strong {
        margin: 0;
        padding: 0;
      }
      
		</style>
	</head>
	<body>
		<Header />
		<main>
      <h1>Crear el Backlog Priorizado del Producto</h1>
      <div class="seccion">
        <hr>
        <h2>Entradas</h2>
        <hr>
        <ol>
          <li>
            <a href="/avance/formar-al-equipo-scrum#scrum-team">Equipo Scrum</a>
          </li>
          <li>
            <a href="/avance/desarrollar-epicas#epicas">Épicas</a>
          </li>
          <li>
            <a href="/avance/desarrollar-epicas#prototipos">Prototipos</a>
          </li>
        </ol>
      </div>
      <div class="seccion">
        <hr>
        <h2>Herramientas</h2>
        <hr>
        <h3>Método MoSCoW</h3>
        <Moscow />
      </div>
      <div class="seccion">
        <hr>
        <h2>Salidas</h2>
        <hr>
        <div id="product-backlog">
          <h4>Backlog Priorizado del Producto</h4>
          <iframe src={"/prioritized-product-backlog.pdf"} width="100%" height="600px"></iframe>
        </div>
        <div id="criterios-terminado">
          <h3>Criterios de Terminado</h3>
          <div class="epica-container">
            <h4>Épica 1: Gestión de órdenes</h4>
            <ul>
                <li>Se han cumplido todas las condiciones acordadas para cada historia de usuario y el Product Owner ha revisado y aprobado las pruebas.</li>
                <li>La documentación técnica necesaria fue revisada y actualizada por el Scrum Master.</li>
                <li>Se ha realizado una sesión de feedback que involucra a los stakeholders.</li>
            </ul>
        </div>
    
        <div class="epica-container">
            <h4>Épica 2: Desarrollo de la landing page</h4>
            <ul>
                <li>La landing page ha pasado por pruebas de compatibilidad de rendimiento entre diferentes navegadores y dispositivos.</li>
                <li>Los stakeholders confirmaron la funcionalidad responsiva del sistema al usarlo en sus dispositivos móviles.</li>
                <li>Se ha configurado un sistema de backup para el código fuente y contenido del sitio web.</li>
            </ul>
        </div>
    
        <div class="epica-container">
            <h4>Épica 3: Dashboard de control</h4>
            <ul>
                <li>El dashboard permite monitorear en tiempo real el estado de las órdenes.</li>
                <li>Los usuarios autorizados (administrador) pueden acceder al dashboard sin problemas de seguridad.</li>
            </ul>
        </div>
        </div>
      </div>
		</main>
		<Footer />
	</body>
</html>
