---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Sistema de Control de órdenes para el restobar Villa 29</h1>
      <img width={1020} height={510} src="/images/villa-29-logo.jpg" alt="" />
			<p>
				El presente proyecto tiene como objetivo el desarrollo de una aplicación web para la gestión de inventarios del restobar Villa 29, optimizando el control y manejo de sus insumos y productos. La solución permitirá a los administradores del restobar gestionar de manera eficiente las existencias, realizar pedidos oportunos, controlar el stock y generar reportes en tiempo real. Para su implementación, se utilizará el framework Laravel, conocido por su robustez y flexibilidad en el desarrollo web, y se seguirá el marco ágil Scrum, permitiendo al equipo de desarrollo adaptarse a los cambios y entregar iteraciones constantes del sistema.
			</p>
		</main>
		<Footer />
	</body>
</html>
