<style>
    table {
      width: 100%;
      border-collapse: collapse;
    }
  
    th, td {
      border: 1px solid black;
      padding: 10px;
      text-align: center; /* Centra horizontalmente */
      vertical-align: middle; /* Centra verticalmente */
    }
    h4{
        font-weight: bolder;
    }
  </style>
  <body>
    <table border="1">
        <tr>
          <th>Seguir Haciendo</th>
          <th>Empezar a Hacer</th>
          <th>Dejar de Hacer</th>
        </tr>
        <tr>
          <td>Seguir usando la guía de Scrum para resolver dudas.</td>
          <td>Mejorar la comunicación entre todos.</td>
          <td>Perder tiempo en cosas que no importan.</td>
        </tr>
        <tr>
          <td>Revisar todos los días los pendientes del equipo.</td>
          <td>Planificar mejor lo que se hará cada día.</td>
          <td>Dejar tareas sin terminar.</td>
        </tr>
        <tr>
          <td>Trabajar en equipo y apoyarse entre todos.</td>
          <td>Escuchar ideas y opiniones de todos.</td>
          <td>Guardarse dudas o preguntas.</td>
        </tr>
      </table>
  </body>