---

---
<table border="1">
  <thead>
    <tr>
      <th>Rol</th>
      <th>Apellidos y Nombres</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Scrum Master</td>
      <td>López Puris, Raúl Andersson</td>
    </tr>
    <tr>
      <td>Product Owner (Dueño del Producto)</td>
      <td>Otazu Quispe, Diego Armando</td>
    </tr>
    <tr>
      <td rowspan="3">Development Team (Equipo de Desarrollo)</td>
      <td>Rosado Valerio, Juan Pablo David</td>
    </tr>
    <tr>
      <td>Barzola Mendoza, Axel Benjamín</td>
    </tr>
    <tr>
      <td>Caman Aguirre, Josué Sebastián</td>
    </tr>
  </tbody>
</table>
