<body>

    <h4>Estimación de Tareas</h4>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Item</th>
                <th>Tarea</th>
                <th>Estimación</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>HU11</td>
                <td>1</td>
                <td>Diseñar la interfaz de creación de usuarios</td>
                <td>3</td>
            </tr>
            <tr>
                <td>HU11</td>
                <td>2</td>
                <td>Implementar la lógica para crear nuevos usuarios</td>
                <td>5</td>
            </tr>
            <tr>
                <td>HU11</td>
                <td>3</td>
                <td>Validar los datos del nuevo usuario</td>
                <td>3</td>
            </tr>
            <tr>
                <td>HU11</td>
                <td>4</td>
                <td>Escribir pruebas unitarias para la creación de usuarios</td>
                <td>3</td>
            </tr>
            <tr>
                <td>HU12</td>
                <td>5</td>
                <td>Diseñar la interfaz para gestionar permisos</td>
                <td>3</td>
            </tr>
            <tr>
                <td>HU12</td>
                <td>6</td>
                <td>Implementar la lógica de permisos</td>
                <td>5</td>
            </tr>
            <tr>
                <td>HU12</td>
                <td>7</td>
                <td>Validar los permisos asignados</td>
                <td>5</td>
            </tr>
            <tr>
                <td>HU12</td>
                <td>8</td>
                <td>Escribir pruebas para la gestión de permisos</td>
                <td>3</td>
            </tr>
            <tr>
                <td>H16</td>
                <td>9</td>
                <td>Crear un formulario de ingreso de órdenes en la interfaz del cajero</td>
                <td>5</td>
            </tr>
            <tr>
                <td>H16</td>
                <td>10</td>
                <td>Implementar validación de datos en el formulario (requeridos, tipos de datos).</td>
                <td>3</td>
            </tr>
            <tr>
                <td>H16</td>
                <td>11</td>
                <td>Conectar el formulario con el backend para crear el objeto "orden" en la base de datos.</td>
                <td>8</td>
            </tr>
            <tr>
                <td>H16</td>
                <td>12</td>
                <td>Establecer el mecanismo Websocket de transmisión en tiempo real para enviar el orden a la cocina.</td>
                <td>20</td>
            </tr>
            <tr>
                <td>H16</td>
                <td>13</td>
                <td>Probar el envío de órdenes desde el cajero a la cocina en diferentes escenarios (orden válido, orden vacío, errores en red).</td>
                <td>3</td>
            </tr>
            <tr>
                <td>H17</td>
                <td>14</td>
                <td>Crear una interfaz de cocina que muestre los órdenes recibidos (lista o tabla organizada por estado).</td>
                <td>5</td>
            </tr>
            <tr>
                <td>H17</td>
                <td>15</td>
                <td>Diseñar la estructura visual para mostrar detalles del orden (nombre del platillo, cantidad, adicionales).</td>
                <td>3</td>
            </tr>
            <tr>
                <td>H17</td>
                <td>16</td>
                <td>Implementar la lógica de recepción de órdenes en tiempo real</td>
                <td>20</td>
            </tr>
            <tr>
                <td>H17</td>
                <td>17</td>
                <td>Agregar filtros o categorías para organizar los órdenes.</td>
                <td>3</td>
            </tr>
            <tr>
                <td>H17</td>
                <td>18</td>
                <td>Probar la visualización de ordenes en diferentes situaciones</td>
                <td>3</td>
            </tr>
            <tr>
                <td>HU18</td>
                <td>19</td>
                <td>Agregar un botón de "Confirmar recepción" en la interfaz de la cocina.</td>
                <td>2</td>
            </tr>
            <tr>
                <td>HU18</td>
                <td>20</td>
                <td>Conectar el botón al backend para actualizar el estado del orden en la base de datos (por ejemplo, de "Enviado" a "En preparación").</td>
                <td>8</td>
            </tr>
            <tr>
                <td>HU18</td>
                <td>21</td>
                <td>Implementar un mecanismo de actualización en tiempo real para notificar al cajero sobre la confirmación de recepción del orden.</td>
                <td>5</td>
            </tr>
            <tr>
                <td>HU18</td>
                <td>22</td>
                <td>Mostrar visualmente el estado "En preparación" en la interfaz del cajero.</td>
                <td>3</td>
            </tr>
            <tr>
                <td>HU18</td>
                <td>23</td>
                <td>Probar el flujo de confirmación de orden y los estados asociados</td>
                <td>3</td>
            </tr>
            <tr>
                <td>HU19</td>
                <td>24</td>
                <td>Agregar un botón "orden listo" en la interfaz de la cocina.</td>
                <td>2</td>
            </tr>
            <tr>
                <td>HU19</td>
                <td>25</td>
                <td>Conectar el botón al backend para cambiar el estado del orden a "Listo" en la base de datos.</td>
                <td>3</td>
            </tr>
            <tr>
                <td>HU19</td>
                <td>26</td>
                <td>Implementar una actualización en tiempo real en la interfaz del cajero para mostrar que el orden está listo para ser entregado.</td>
                <td>5</td>
            </tr>
            <tr>
                <td>HU19</td>
                <td>27</td>
                <td>Probar el flujo de cambio de estado de "En preparación" a "Listo" y la actualización automática en la interfaz del cajero.</td>
                <td>3</td>
            </tr>
            <tr>
                <td>HU19</td>
                <td>28</td>
                <td>Notificar visualmente en la interfaz del cajero el estado "Listo para entrega".</td>
                <td>5</td>
            </tr>
            <tr>
                <td>H20</td>
                <td>29</td>
                <td>Agregar una sección en la interfaz del cajero que muestre el estado actual de cada orden.</td>
                <td>5</td>
            </tr>
            <tr>
                <td>H20</td>
                <td>30</td>
                <td>Implementar una actualización automática en tiempo real de los estados de los órdenes en la interfaz del cajero.</td>
                <td>5</td>
            </tr>
            <tr>
                <td>H20</td>
                <td>31</td>
                <td>Mostrar el tiempo transcurrido desde la creación del orden para ayudar al cajero a estimar el tiempo de entrega.</td>
                <td>5</td>
            </tr>
            <tr>
                <td>H20</td>
                <td>32</td>
                <td>Probar la correcta visualización y actualización de estados en tiempo real</td>
                <td>3</td>
            </tr>
        </tbody>
    </table>

</body>