<style>
    table {
      width: 100%;
      border-collapse: collapse;
    }
  
    th, td {
      border: 1px solid black;
      padding: 10px;
      text-align: center; /* Centra horizontalmente */
      vertical-align: middle; /* Centra verticalmente */
    }
    h4{
        font-weight: bolder;
    }
  </style>
  <body>
    <table border="1">
        <tr>
          <th>ID</th>
          <th>Historia de Usuario</th>
          <th>Entregables</th>
          <th>Estado</th>
        </tr>
        <tr>
          <td>HU16</td>
          <td>Como cajero, quiero enviar un orden a la cocina con todos los detalles para que el equipo de cocina lo reciba en tiempo real.</td>
          <td>Entregar un sistema de comunicación en tiempo real que permita al cajero enviar órdenes directamente a la cocina, incluyendo todos los detalles necesarios.</td>
          <td>Aprobado</td>
        </tr>
        <tr>
          <td>HU17</td>
          <td>Como empleado de cocina, quiero recibir los órdenes en una interfaz clara y organizada para preparar los platillos sin errores.</td>
          <td>Entregar una interfaz de usuario clara y bien organizada para el equipo de cocina, donde puedan ver todas las órdenes en una lista o tablero, organizadas por orden de llegada o prioridad.</td>
          <td>Aprobado</td>
        </tr>
        <tr>
          <td>HU19</td>
          <td>Como empleado de cocina, quiero notificar a la caja cuando un orden esté listo para que el cajero lo entregue al cliente.</td>
          <td>Entregar una función dentro de la interfaz de la cocina que permita al personal marcar una orden como "lista" cuando esté terminada, enviando una notificación en tiempo real al cajero.</td>
          <td>Aprobado</td>
        </tr>
        <tr>
          <td>HU20</td>
          <td>Como cajero, quiero poder verificar el estado de cada orden para informar al cliente el tiempo estimado.</td>
          <td>Entregar una función de monitoreo en la interfaz del cajero donde pueda ver el estado de cada orden en proceso.</td>
          <td>Aprobado</td>
        </tr>
      </table>
  </body>