---

---
<table border="1">
  <thead>
    <tr>
      <th>Épica</th>
      <th>Historias de Usuario</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Épica 1: Control de stock</td>
      <td>
        <ul>
          <li>Como empleado quiero poder registrar la entrada de nuevos insumos.</li>
          <li>Como empleado quiero poder registrar la fecha de vencimiento de los productos.</li>
          <li>Como empleado quiero poder actualizar las cantidades al final del día.</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>Épica 2: Alertas de productos</td>
      <td>
        <ul>
          <li>Como empleado quiero recibir una alerta cuando un producto llegue a un stock determinado.</li>
          <li>Como administrador quiero determinar el stock mínimo personalizado para cada producto.</li>
          <li>Como administrador quiero poder establecer el número de días anteriores al vencimiento que debo recibir la notificación.</li>
          <li>Como empleado quiero poder visualizar las alertas y las fechas de vencimiento de los productos.</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>Épica 3: Crear reportes personalizados</td>
      <td>
        <ul>
          <li>Como administrador quiero poder visualizar las cantidades de stock.</li>
          <li>Como administrador quiero poder visualizar la variabilidad de los productos del stock durante el tiempo a través de tablas y gráficos.</li>
          <li>Como administrador quiero que se genere un reporte general que incluya fechas de vencimiento, stock, varianza una vez a la semana.</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>Épica 4: Roles y usuarios</td>
      <td>
        <ul>
          <li>Como administrador quiero tener un acceso total al sistema y poder crear nuevos usuarios con el rol de cajeros.</li>
          <li>Como administrador quiero dar un acceso parcial a los cajeros al sistema.</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>Épica 5: Gestión de insumos</td>
      <td>
        <ul>
          <li>Como administrador quiero poder agregar nuevos insumos al sistema.</li>
          <li>Como administrador quiero poder modificar los productos en el sistema.</li>
          <li>Como administrador quiero poder eliminar insumos previa validación de mi contraseña.</li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>
