<style>
    table {
      width: 100%;
      border-collapse: collapse;
    }
  
    th, td {
      border: 1px solid black;
      padding: 10px;
      text-align: center; /* Centra horizontalmente */
      vertical-align: middle; /* Centra verticalmente */
    }
  </style>
<body>

    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Título</th>
                <th>Historia de usuario</th>
                <th>Tareas</th>
                <th>Estimación</th>
                <th>Estado</th>
                <th>Responsable</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>HU16</td>
                <td>Envío de órdenes</td>
                <td>Como cajero, quiero enviar un orden a la cocina con todos los detalles para que el equipo de cocina lo reciba en tiempo real.</td>
                <td>Crear un formulario de ingreso de ordenes en la interfaz del cajero</td>
                <td>5</td>
                <td>POR HACER</td>
                <td>Camán</td>
            </tr>
            <tr>
                <td>HU16</td>
                <td>Envío de órdenes</td>
                <td>Como cajero, quiero enviar un orden a la cocina con todos los detalles para que el equipo de cocina lo reciba en tiempo real.</td>
                <td>Implementar validación de datos en el formulario (requeridos, tipos de datos).</td>
                <td>3</td>
                <td>POR HACER</td>
                <td>Barzola</td>
            </tr>
            <tr>
                <td>HU16</td>
                <td>Envío de órdenes</td>
                <td>Como cajero, quiero enviar un orden a la cocina con todos los detalles para que el equipo de cocina lo reciba en tiempo real.</td>
                <td>Conectar el formulario con el backend para crear el objeto "orden" en la base de datos.</td>
                <td>8</td>
                <td>POR HACER</td>
                <td>Rosado</td>
            </tr>
            <tr>
                <td>HU16</td>
                <td>Envío de órdenes</td>
                <td>Como cajero, quiero enviar un orden a la cocina con todos los detalles para que el equipo de cocina lo reciba en tiempo real.</td>
                <td>Establecer el mecanismo Websocket de transmisión en tiempo real para enviar el orden a la cocina.</td>
                <td>20</td>
                <td>POR HACER</td>
                <td>Rosado</td>
            </tr>
            <tr>
                <td>HU16</td>
                <td>Envío de órdenes</td>
                <td>Como cajero, quiero enviar un orden a la cocina con todos los detalles para que el equipo de cocina lo reciba en tiempo real.</td>
                <td>Probar el envío de órdenes desde el cajero a la cocina en diferentes escenarios (orden válido, orden vacío, errores en red).</td>
                <td>3</td>
                <td>POR HACER</td>
                <td>Camán</td>
            </tr>
            <tr>
                <td>HU17</td>
                <td>Diseño intuitivo</td>
                <td>Como empleado de cocina, quiero recibir las órdenes en una interfaz clara y organizada para preparar los platillos sin errores.</td>
                <td>Crear una interfaz de cocina que muestre los órdenes recibidos (lista o tabla organizada por estado).</td>
                <td>5</td>
                <td>POR HACER</td>
                <td>Rosado</td>
            </tr>
            <tr>
                <td>HU17</td>
                <td>Diseño intuitivo</td>
                <td>Como empleado de cocina, quiero recibir las órdenes en una interfaz clara y organizada para preparar los platillos sin errores.</td>
                <td>Diseñar la estructura visual para mostrar detalles del orden (nombre del platillo, cantidad, adicionales).</td>
                <td>3</td>
                <td>POR HACER</td>
                <td>Rosado</td>
            </tr>
            <tr>
                <td>HU17</td>
                <td>Diseño intuitivo</td>
                <td>Como empleado de cocina, quiero recibir las órdenes en una interfaz clara y organizada para preparar los platillos sin errores.</td>
                <td>Implementar la lógica de recepción de órdenes en tiempo real</td>
                <td>20</td>
                <td>POR HACER</td>
                <td>Rosado</td>
            </tr>
            <tr>
                <td>HU17</td>
                <td>Diseño intuitivo</td>
                <td>Como empleado de cocina, quiero recibir las órdenes en una interfaz clara y organizada para preparar los platillos sin errores.</td>
                <td>Agregar filtros o categorías para organizar los órdenes.</td>
                <td>3</td>
                <td>POR HACER</td>
                <td>Barzola</td>
            </tr>
            <tr>
                <td>HU17</td>
                <td>Diseño intuitivo</td>
                <td>Como empleado de cocina, quiero recibir las órdenes en una interfaz clara y organizada para preparar los platillos sin errores.</td>
                <td>Probar la visualización de órdenes en diferentes situaciones</td>
                <td>3</td>
                <td>POR HACER</td>
                <td>Josue Caman</td>
            </tr>
            <tr>
                <td>HU19</td>
                <td>Notificación de órdenes listas</td>
                <td>Como empleado de cocina, quiero notificar a la caja cuando un orden esté listo para que el cajero lo entregue al cliente.</td>
                <td>Agregar un botón "orden listo" en la interfaz de la cocina.</td>
                <td>2</td>
                <td>POR HACER</td>
                <td>Barzola</td>
            </tr>
            <tr>
                <td>HU19</td>
                <td>Notificación de órdenes listas</td>
                <td>Como empleado de cocina, quiero notificar a la caja cuando un orden esté listo para que el cajero lo entregue al cliente.</td>
                <td>Conectar el botón al backend para cambiar el estado del orden a "Listo" en la base de datos.</td>
                <td>3</td>
                <td>POR HACER</td>
                <td>Rosado</td>
            </tr>
            <tr>
                <td>HU19</td>
                <td>Notificación de órdenes listas</td>
                <td>Como empleado de cocina, quiero notificar a la caja cuando un orden esté listo para que el cajero lo entregue al cliente.</td>
                <td>Implementar una actualización en tiempo real en la interfaz del cajero para mostrar que el orden está listo para ser entregado.</td>
                <td>5</td>
                <td>POR HACER</td>
                <td>Rosado</td>
            </tr>
            <tr>
                <td>HU19</td>
                <td>Notificación de órdenes listas</td>
                <td>Como empleado de cocina, quiero notificar a la caja cuando un orden esté listo para que el cajero lo entregue al cliente.</td>
                <td>Probar el flujo de cambio de estado de "En preparación" a "Listo" y la actualización automática en la interfaz del cajero.</td>
                <td>3</td>
                <td>POR HACER</td>
                <td>Camán</td>
            </tr>
            <tr>
                <td>HU19</td>
                <td>Notificación de órdenes listas</td>
                <td>Como empleado de cocina, quiero notificar a la caja cuando un orden esté listo para que el cajero lo entregue al cliente.</td>
                <td>Notificar visualmente en la interfaz del cajero el estado "Listo para entrega".</td>
                <td>5</td>
                <td>POR HACER</td>
                <td>Barzola</td>
            </tr>
            <tr>
                <td>HU20</td>
                <td>Verificación del estado de órdenes</td>
                <td>Como cajero, quiero poder verificar el estado de cada orden (en preparación, listo) para informar al cliente el tiempo estimado.</td>
                <td>Agregar una sección en la interfaz del cajero que muestre el estado actual de cada orden.</td>
                <td>5</td>
                <td>POR HACER</td>
                <td>Barzola</td>
            </tr>
            <tr>
                <td>HU20</td>
                <td>Verificación del estado de órdenes</td>
                <td>Como cajero, quiero poder verificar el estado de cada orden para informar al cliente el tiempo estimado.</td>
                <td>Implementar una actualización automática en tiempo real de los estados de los órdenes en la interfaz del cajero.</td>
                <td>5</td>
                <td>POR HACER</td>
                <td>Rosado</td>
            </tr>
            <tr>
                <td>HU20</td>
                <td>Verificación del estado de órdenes</td>
                <td>Como cajero, quiero poder verificar el estado de cada orden para informar al cliente el tiempo estimado.</td>
                <td>Mostrar el tiempo transcurrido desde la creación del orden para ayudar al cajero a estimar el tiempo de entrega.</td>
                <td>5</td>
                <td>POR HACER</td>
                <td>Rosado</td>
            </tr>
            <tr>
                <td>HU20</td>
                <td>Verificación del estado de órdenes</td>
                <td>Como cajero, quiero poder verificar el estado de cada orden para informar al cliente el tiempo estimado.</td>
                <td>Probar la correcta visualización y actualización de estados en tiempo real.</td>
                <td>3</td>
                <td>POR HACER</td>
                <td>Camán</td>
            </tr>
        </tbody>
    </table>

</body>