<style>
    table {
      width: 100%;
      border-collapse: collapse;
    }
  
    th, td {
      border: 1px solid black;
      padding: 10px;
      text-align: center; /* Centra horizontalmente */
      vertical-align: middle; /* Centra verticalmente */
    }
  </style>
<body>


    <table border="1">
        <thead>
            <tr>
                <th>Día</th>
                <th>Horas estimadas restantes (ideal)</th>
                <th>Horas reales restantes (real)</th>
                <th>Tareas completadas</th>
            </tr>
        </thead>
        <tbody>
            
            <tr>
                <td>1</td>
                <td>116.55</td>
                <td>119</td>
                <td>Crear formulario de ingreso de pedidos (6)</td>
            </tr>
            <tr>
                <td>2</td>
                <td>109.26</td>
                <td>113</td>
                <td>Implementar validación de datos en formulario (5)</td>
            </tr>
            <tr>
                <td>3</td>
                <td>101.97</td>
                <td>107</td>
                <td>Escribir pruebas para gestión de permisos (5), probar envío de pedidos (6)</td>
            </tr>
            <tr>
                <td>4,5</td>
                <td>94.68</td>
                <td>100</td>
                <td>Conectar formulario con backend (7)</td>
            </tr>
            <tr>
                <td>6,7</td>
                <td>87.39</td>
                <td>92</td>
                <td>Implementar Websocket para transmisión de pedidos (8)</td>
            </tr>
            <tr>
                <td>8</td>
                <td>80.1</td>
                <td>87</td>
                <td>Crear interfaz de cocina (5)</td>
            </tr>
            <tr>
                <td>9</td>
                <td>72.81</td>
                <td>83</td>
                <td>Diseñar estructura visual para mostrar detalles del pedido (4)</td>
            </tr>
            <tr>
                <td>10,11</td>
                <td>65.52</td>
                <td>76</td>
                <td>Implementar lógica de recepción de pedidos en tiempo real (7)</td>
            </tr>
            <tr>
                <td>12</td>
                <td>58.23</td>
                <td>72</td>
                <td>Agregar filtros o categorías para pedidos (4)</td>
            </tr>
            <tr>
                <td>13</td>
                <td>50.94</td>
                <td>67</td>
                <td>Probar visualización de pedidos (5)</td>
            </tr>
            <tr>
                <td>14</td>
                <td>7.2</td>
                <td>37</td>
                <td>Agregar botón "Pedido listo" en la cocina (4), conectar backend (5)</td>
            </tr>
            <tr>
                <td>15</td>
                <td>0</td>
                <td>32</td>
                <td>Probar flujo de cambio de estado (5)</td>
            </tr>
        </tbody>
    </table>

</body>   