<style>
    table {
      width: 100%;
      border-collapse: collapse;
    }
  
    th, td {
      border: 1px solid black;
      padding: 10px;
      text-align: center; /* Centra horizontalmente */
      vertical-align: middle; /* Centra verticalmente */
    }
  </style>
<body>
    <h4>Tabla de Historias de Usuario</h4>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Historia de Usuario</th>
                <th>Estimación</th>
                <th>MOSCOW</th>
                <th>Comprometido</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>HU16</td>
                <td>Como cajero, quiero enviar un orden a la cocina con todos los detalles para que el equipo de cocina lo reciba en tiempo real.</td>
                <td>3</td>
                <td>Must Have</td>
                <td>DAVID ROSADO Y JOSUE CAMAN</td>
            </tr>
            <tr>
                <td>HU17</td>
                <td>Como empleado de cocina, quiero recibir los órdenes en una interfaz clara y organizada para preparar los platillos sin errores.</td>
                <td>3</td>
                <td>Must Have</td>
                <td>DAVID ROSADO Y AXEL BARZOLA</td>
            </tr>
            <tr>
                <td>HU19</td>
                <td>Como empleado de cocina, quiero notificar a la caja cuando un orden esté listo para que el cajero lo entregue al cliente.</td>
                <td>2</td>
                <td>Must have</td>
                <td>DAVID ROSADO Y AXEL BARZOLA</td>
            </tr>
            <tr>
                <td>HU20</td>
                <td>Como cajero, quiero poder verificar el estado de cada orden para informar al cliente el tiempo estimado.</td>
                <td>3</td>
                <td>Must Have</td>
                <td>DAVID ROSADO Y JOSUE CAMAN</td>
            </tr>
        </tbody>
    </table>
</body>