<body>
    <h4>Tabla de Historias de Usuario</h4>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Historia de Usuario</th>
                <th>Estimación</th>
                <th>MoSCoW</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>HU01</td>
                <td>Como empleado quiero poder registrar la entrada de nuevos insumos.</td>
                <td>2</td>
                <td>Must Have</td>
            </tr>
            <tr>
                <td>HU02</td>
                <td>Como empleado quiero poder registrar la fecha de vencimiento de los productos.</td>
                <td>3</td>
                <td>Should Have</td>
            </tr>
            <tr>
                <td>HU03</td>
                <td>Como empleado quiero poder actualizar las cantidades al final del día.</td>
                <td>2</td>
                <td>Could Have</td>
            </tr>
            <tr>
                <td>HU04</td>
                <td>Como empleado quiero recibir una alerta cuando un producto llegue a un stock determinado.</td>
                <td>4</td>
                <td rowspan="4">Should Have</td>
            </tr>
            <tr>
                <td>HU05</td>
                <td>Como empleado quiero poder visualizar las alertas y las fechas de vencimiento de los productos.</td>
                <td>4</td>
                
            </tr>
            <tr>
                <td>HU06</td>
                <td>Como administrador quiero determinar el stock mínimo personalizado de cada producto.</td>
                <td>3</td>
                
            </tr>
            <tr>
                <td>HU07</td>
                <td>Como administrador quiero poder establecer el número de días anteriores al vencimiento que debo recibir la notificación.</td>
                <td>3</td>
                
            </tr>
            <tr>
                <td>HU08</td>
                <td>Como administrador quiero poder visualizar las cantidades de stock.</td>
                <td>2</td>
                <td>Should Have</td>
            </tr>
            <tr>
                <td>HU09</td>
                <td>Como administrador quiero poder visualizar la variabilidad de los productos del stock durante el tiempo a través de tablas y gráficos.</td>
                <td>5</td>
                <td rowspan="2">Could Have</td>
            </tr>
            <tr>
                <td>HU10</td>
                <td>Como administrador quiero que se genere un reporte general que incluya fechas de vencimiento, stock, varianza una vez a la semana.</td>
                <td>4</td>
                
            </tr>
            <tr>
                <td>HU11</td>
                <td>Como administrador quiero tener un acceso total al sistema y poder crear nuevos usuarios con el rol de cajeros y cocineros.</td>
                <td>4</td>
                <td rowspan="2">Must Have</td>
            </tr>
            <tr>
                <td>HU12</td>
                <td>Como administrador quiero dar un acceso parcial a los cajeros al sistema.</td>
                <td>3</td>
                
            </tr>
            <tr>
                <td>HU13</td>
                <td>Como administrador quiero poder agregar nuevos insumos al sistema.</td>
                <td>2</td>
                <td rowspan="3">Must Have</td>
            </tr>
            <tr>
                <td>HU14</td>
                <td>Como administrador quiero poder modificar los productos en el sistema.</td>
                <td>2</td>
                
            </tr>
            <tr>
                <td>HU15</td>
                <td>Como administrador quiero poder eliminar insumos previa validación de mi contraseña.</td>
                <td>4</td>
                
            </tr>
            <tr>
                <td>HU16</td>
                <td>Como cajero, quiero enviar un orden a la cocina con todos los detalles para que el equipo de cocina lo reciba en tiempo real.</td>
                <td>3</td>
                <td rowspan="5">Must Have</td>
            </tr>
            <tr>
                <td>HU17</td>
                <td>Como empleado de cocina, quiero recibir los órdenes en una interfaz clara y organizada para preparar los platillos sin errores.</td>
                <td>3</td>
            
            </tr>
            <tr>
                <td>HU18</td>
                <td>Como empleado de cocina, quiero confirmar la recepción del orden para que el cajero sepa que está en preparación.</td>
                <td>2</td>
                
            </tr>
            <tr>
                <td>HU19</td>
                <td>Como empleado de cocina, quiero notificar a la caja cuando un orden esté listo para que el cajero lo entregue al cliente.</td>
                <td>2</td>
                
            </tr>
            <tr>
                <td>HU20</td>
                <td>Como cajero, quiero poder verificar el estado de cada orden (en preparación, listo) para informar al cliente el tiempo estimado.</td>
                <td>3</td>
                
            </tr>
            <tr>
                <td>HU21</td>
                <td>Como empleado de cocina, quiero poder identificar y priorizar órdenes que requieran atención urgente para atenderlos primero.</td>
                <td>4</td>
                <td rowspan="2">Should Have</td>
            </tr>
            <tr>
                <td>HU22</td>
                <td>Como administrador, quiero acceder a un historial de órdenes enviados entre la caja y la cocina para hacer seguimiento y detectar errores.</td>
                <td>4</td>
                
            </tr>
            <tr>
                <td>HU23</td>
                <td>Como cajero, quiero poder editar un orden antes de que la cocina lo empiece a preparar para corregir errores de ingreso.</td>
                <td>3</td>
                <td rowspan="2">Could Have</td>
            </tr>
            <tr>
                <td>HU24</td>
                <td>Como cajero, quiero poder cancelar un orden en curso para eliminarlo si el cliente cambia de opinión antes de que la cocina lo prepare.</td>
                <td>3</td>
                
            </tr>
        </tbody>
    </table>
</body>