<body>
    <h4>Tabla de Historias de Usuario</h4>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Historia de Usuario</th>
                <th>Rosado</th>
                <th>Barzola</th>
                <th>Camán</th>
                <th>Bucket Final</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>HU01</td>
                <td>Como empleado quiero poder registrar la entrada de nuevos insumos a fin de saber qué materiales tenemos.</td>
                <td>2</td>
                <td>1</td>
                <td>2</td>
                <td>2</td>
            </tr>
            <tr>
                <td>HU02</td>
                <td>Como empleado, quiero escribir cuándo se vence cada producto, para saber hasta cuándo se pueden usar.</td>
                <td>3</td>
                <td>2</td>
                <td>3</td>
                <td>3</td>
            </tr>
            <tr>
                <td>HU03</td>
                <td>Como empleado, quiero actualizar las cantidades de productos al final del día, para saber cuántos quedan.</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
            </tr>
            <tr>
                <td>HU04</td>
                <td>Como empleado, quiero recibir una alerta cuando un producto llegue a un stock determinado, a fin de pedir más.</td>
                <td>4</td>
                <td>4</td>
                <td>5</td>
                <td>4</td>
            </tr>
            <tr>
                <td>HU05</td>
                <td>Como empleado, quiero ver las alertas y cuándo se vencen los productos, a fin de estar al tanto.</td>
                <td>3</td>
                <td>3</td>
                <td>4</td>
                <td>4</td>
            </tr>
            <tr>
                <td>HU06</td>
                <td>Como administrador, quiero determinar cuántos productos como mínimo debe haber, a fin de no quedarnos sin ellos.</td>
                <td>3</td>
                <td>2</td>
                <td>3</td>
                <td>3</td>
            </tr>
            <tr>
                <td>HU07</td>
                <td>Como administrador, quiero decidir cuántos días antes del vencimiento me deben notificar, a fin de estar preparado.</td>
                <td>3</td>
                <td>3</td>
                <td>2</td>
                <td>3</td>
            </tr>
            <tr>
                <td>HU08</td>
                <td>Como administrador, quiero ver cuántos productos hay en total, a fin de llevar el control.</td>
                <td>2</td>
                <td>2</td>
                <td>3</td>
                <td>2</td>
            </tr>
            <tr>
                <td>HU09</td>
                <td>Como administrador, quiero ver en tablas y gráficos cómo cambian las cantidades de productos con el tiempo, a fin de saber qué productos se venden más y cuáles menos.</td>
                <td>5</td>
                <td>4</td>
                <td>4</td>
                <td>5</td>
            </tr>
            <tr>
                <td>HU10</td>
                <td>Como administrador, quiero que me hagan un reporte cada semana con las fechas de vencimiento, las cantidades, y los cambios, a fin de saber cuándo comprar más.</td>
                <td>4</td>
                <td>3</td>
                <td>3</td>
                <td>4</td>
            </tr>
            <tr>
                <td>HU11</td>
                <td>Como administrador, quiero tener acceso completo al sistema y poder crear usuarios nuevos que sean cajeros y cocineros, a fin de que haya más personas que puedan ayudar a vender.</td>
                <td>3</td>
                <td>4</td>
                <td>4</td>
                <td>4</td>
            </tr>
            <tr>
                <td>HU12</td>
                <td>Como administrador, quiero darles solo una parte del acceso a los cajeros, a fin de que no vean todo.</td>
                <td>3</td>
                <td>2</td>
                <td>3</td>
                <td>3</td>
            </tr>
            <tr>
                <td>HU13</td>
                <td>Como administrador, quiero agregar nuevos productos al sistema, a fin de tener todo registrado.</td>
                <td>2</td>
                <td>2</td>
                <td>3</td>
                <td>2</td>
            </tr>
            <tr>
                <td>HU14</td>
                <td>Como administrador, quiero cambiar los datos de los productos en el sistema, a fin de que estén correctos.</td>
                <td>2</td>
                <td>2</td>
                <td>3</td>
                <td>2</td>
            </tr>
            <tr>
                <td>HU15</td>
                <td>Como administrador, quiero poder borrar productos del sistema, pero solo si pongo mi contraseña antes, a fin de mantener la seguridad del sistema.</td>
                <td>4</td>
                <td>3</td>
                <td>4</td>
                <td>4</td>
            </tr>
            <tr>
                <td>HU16</td>
                <td>Como cajero, quiero enviar un orden a la cocina con todos los detalles para que el equipo de cocina lo reciba en tiempo real.</td>
                <td>3</td>
                <td>3</td>
                <td>4</td>
                <td>3</td>
            </tr>
            <tr>
                <td>HU17</td>
                <td>Como empleado de cocina, quiero recibir los ordenes en una interfaz clara y organizada para preparar los platillos sin errores.</td>
                <td>3</td>
                <td>3</td>
                <td>3</td>
                <td>3</td>
            </tr>
            <tr>
                <td>HU18</td>
                <td>Como empleado de cocina, quiero confirmar la recepción del orden para que el cajero sepa que está en preparación.</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
            </tr>
            <tr>
                <td>HU19</td>
                <td>Como empleado de cocina, quiero notificar a la caja cuando un orden esté listo para que el cajero lo entregue al cliente.</td>
                <td>2</td>
                <td>3</td>
                <td>2</td>
                <td>2</td>
            </tr>
            <tr>
                <td>HU20</td>
                <td>Como cajero, quiero poder verificar el estado de cada orden (en preparación, listo) para informar al cliente el tiempo estimado.</td>
                <td>3</td>
                <td>2</td>
                <td>3</td>
                <td>3</td>
            </tr>
            <tr>
                <td>HU21</td>
                <td>Como empleado de cocina, quiero poder identificar y priorizar ordenes que requieran atención urgente para atenderlos primero.</td>
                <td>4</td>
                <td>4</td>
                <td>4</td>
                <td>4</td>
            </tr>
            <tr>
                <td>HU22</td>
                <td>Como administrador, quiero acceder a un historial de ordenes enviados entre la caja y la cocina para hacer seguimiento y detectar errores.</td>
                <td>4</td>
                <td>4</td>
                <td>5</td>
                <td>4</td>
            </tr>
            <tr>
                <td>HU23</td>
                <td>Como cajero, quiero poder editar un orden antes de que la cocina lo empiece a preparar para corregir errores de ingreso.</td>
                <td>3</td>
                <td>4</td>
                <td>3</td>
                <td>3</td>
            </tr>
            <tr>
                <td>HU24</td>
                <td>Como cajero, quiero poder cancelar un orden en curso para eliminarlo si el cliente cambia de opinión antes de que la cocina lo prepare.</td>
                <td>3</td>
                <td>3</td>
                <td>2</td>
                <td>3</td>
            </tr>
        </tbody>
    </table>
</body>