<style>
    table {
        width: 100%;
        border-collapse: collapse;
    }
    table, th, td {
        border: 1px solid black;
    }
    th, td {
        padding: 8px;
        text-align: left;
    }
    th {
        background-color: #f2f2f2;
    }
</style>

<body>
    <table>
        <thead>
            <tr>
                <th>ID Épica</th>
                <th>Épica</th>
                <th>ID Historia de Usuario</th>
                <th>Título</th>
                <th>Historia de Usuario</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>E02</td>
                <td>Landing page persuasiva</td>
                <td>HU05</td>
                <td>Botones de funciones</td>
                <td>Como cliente, quiero un menú de botones de navegación para ingresar a las diferentes secciones.</td>
            </tr>
            <tr>
                <td>E02</td>
                <td>Landing page persuasiva</td>
                <td>HU06</td>
                <td>Enlaces a redes sociales</td>
                <td>Como cliente, quiero un footer con enlaces a redes sociales e información de contacto para acceder a más contenido.</td>
            </tr>
            <tr>
                <td>E02</td>
                <td>Landing page persuasiva</td>
                <td>HU07</td>
                <td>Ajuste de pantalla</td>
                <td>Como cliente, quiero que la página esté diseñada de forma responsiva para navegar desde dispositivos móviles.</td>
            </tr>
            <tr>
                <td>E02</td>
                <td>Landing page persuasiva</td>
                <td>HU08</td>
                <td>Carta digitalizada</td>
                <td>Como cliente, quiero una descripción de cada plato para tomar una decisión informada sobre qué pedir.</td>
            </tr>
            <tr>
                <td>E02</td>
                <td>Landing page persuasiva</td>
                <td>HU09</td>
                <td>Calidad de las imágenes</td>
                <td>Como cliente, quiero visualizar imágenes de alta calidad para obtener una buena impresión de la carta.</td>
            </tr>
            <tr>
                <td>E03</td>
                <td>Dashboard de control</td>
                <td>HU10</td>
                <td>Acceso restringido</td>
                <td>Como administrador, quiero que solo yo tenga acceso al dashboard para proteger la información sensible del sistema.</td>
            </tr>
            <tr>
                <td>E03</td>
                <td>Dashboard de control</td>
                <td>HU11</td>
                <td>Opción de filtrado</td>
                <td>Como administrador, quiero filtrar los ingresos y órdenes por fecha, para observar el rendimiento del restobar.</td>
            </tr>
            <tr>
                <td>E03</td>
                <td>Dashboard de control</td>
                <td>HU12</td>
                <td>Compatibilidad móvil</td>
                <td>Como administrador, quiero que el dashboard se ajuste al tamaño de la pantalla para verlo en dispositivos móviles.</td>
            </tr>
            <tr>
                <td>E03</td>
                <td>Dashboard de control</td>
                <td>HU13</td>
                <td>Gráficos interactivos</td>
                <td>Como administrador, quiero ver diferentes tipos de gráficos para monitorear tendencias de diferentes maneras.</td>
            </tr>
        </tbody>
    </table>
</body>