<style>
    .comprometer{
        font-family: Arial, sans-serif;
        background-color: #f5f5f5;
        margin: 20px;
        color: #333;
    }
    table {
        width: 100%;
        border-collapse: collapse;
        margin: 20px 0;
        background-color: #fff;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
    th, td {
        padding: 10px;
        text-align: center;
        border: 1px solid #ddd;
    }
    th {
        background-color: #7e57c2; /* Violeta */
        color: white;
    }
    tr:nth-child(even) {
        background-color: #f9f9f9;
    }
    tr:hover {
        background-color: #f1f1f1;
    }
    h1 {
        text-align: center;
        color: #7e57c2;
    }
</style>

<div class="comprometer">
<table>
    <thead>
        <tr>
            <th>Historia de Usuario</th>
            <th>Compromiso 1</th>
            <th>Compromiso 2</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Como cliente, quiero un menú de botones de navegación para ingresar a las diferentes secciones.</td>
            <td>Rosado</td>
            <td>Barzola</td>
        </tr>
        <tr>
            <td>Como cliente, quiero un footer con enlaces a redes sociales e información de contacto para acceder a más contenido.</td>
            <td>Rosado</td>
            <td>Camán</td>
        </tr>
        <tr>
            <td>Como cliente, quiero que la página esté diseñada de forma responsiva para navegar desde dispositivos móviles.</td>
            <td>Barzola</td>
            <td>Camán</td>
        </tr>
        <tr>
            <td>Como cliente, quiero una descripción de cada plato para tomar una decisión informada sobre qué pedir.</td>
            <td>Rosado</td>
            <td>Barzola</td>
        </tr>
        <tr>
            <td>Como cliente, quiero visualizar imágenes de alta calidad para obtener una buena impresión de la carta.</td>
            <td>Camán</td>
            <td>Barzola</td>
        </tr>
        <tr>
            <td>Como administrador, quiero que solo yo tenga acceso al dashboard para proteger la información sensible del sistema.</td>
            <td>Rosado</td>
            <td>Camán</td>
        </tr>
        <tr>
            <td>Como administrador, quiero filtrar los ingresos y órdenes por fecha, para observar el rendimiento del restobar.</td>
            <td>Barzola</td>
            <td>Rosado</td>
        </tr>
        <tr>
            <td>Como administrador, quiero que el dashboard se ajuste al tamaño de la pantalla para verlo en dispositivos móviles.</td>
            <td>Camán</td>
            <td>Rosado</td>
        </tr>
        <tr>
            <td>Como administrador, quiero ver diferentes tipos de gráficos para monitorear tendencias de diferentes maneras.</td>
            <td>Barzola</td>
            <td>Camán</td>
        </tr>
    </tbody>
</table>
</div>