<style>
    table {
        width: 100%;
        border-collapse: collapse;
    }
    table, th, td {
        border: 1px solid black;
    }
    th, td {
        padding: 8px;
        text-align: left;
    }
    th {
        background-color: #f2f2f2;
    }
    .category {
        font-weight: bold;
    }
</style>

<body>
<table>
    <thead>
        <tr>
            <th>Interno</th>
            <th>Externo</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="category">Los miembros del equipo tenían otras tareas.</td>
            <td class="category">No se pudo hablar con los stakeholders debido al paro.</td>
        </tr>
        <tr>
            <td>Falta de documentación actualizada.</td>
            <td>Cambios en lo que se pedía para el proyecto.</td>
        </tr>
        <tr>
            <td>Adopción lenta de metodología ágil.</td>
            <td>Los clientes respondieron tarde para el feedback.</td>
        </tr>
        <tr>
            <td>Las reuniones comenzaban tarde.</td>
            <td>Interrupciones por eventos académicos de la Untels.</td>
        </tr>
        <tr>
            <td>Había problemas al integrar las nuevas funciones.</td>
            <td>Las aprobaciones tardaron más de lo que se pensaba.</td>
        </tr>
        <tr>
            <td>No se lograba un acuerdo al tomar decisiones.</td>
            <td>Cambiaron las fechas de presentación.</td>
        </tr>
    </tbody>
</table>
</body>