<style>
    .fine {
        font-family: Arial, sans-serif;
        line-height: 1.6;
    }
    h1 {
        text-align: center;
        color: #333;
    }
    .container {
        width: 80%;
        margin: 0 auto;
    }
    h2 {
        color: #555;
    }
    ul {
        list-style-type: disc;
        margin: 10px 0 20px 20px;
    }
    ul li {
        margin: 5px 0;
    }
</style>

<div class="fine">
<div class="container">
    
    <h4>Interno</h4>
    <ul>
        <li>Los miembros del equipo tenían otras tareas.</li>
        <li>Falta de documentación actualizada.</li>
        <li>Adopción lenta de metodología ágil.</li>
        <li>Las reuniones comenzaban tarde.</li>
        <li>Había problemas al integrar las nuevas funciones.</li>
        <li>No se lograba un acuerdo al tomar decisiones.</li>
    </ul>
    <h4>Externo</h4>
    <ul>
        <li>No se pudo hablar con los stakeholders debido al paro.</li>
        <li>Cambios en lo que se pedía para el proyecto.</li>
        <li>Los clientes respondieron tarde para el feedback.</li>
        <li>Interrupciones por eventos académicos de la Untels.</li>
        <li>Las aprobaciones tardaron más de lo que se pensaba.</li>
        <li>Cambiaron las fechas de presentación.</li>
    </ul>
</div>
</div>